.menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: var(--dark-Violet);
  height: calc(100vh - 4em);
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transition: .9s transform;
  transition: .9s transform;
  will-change: transform;
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu ul a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.menu ul li {
  padding: 1.2em;
}

.menu ul li:last-child {
  border: 1.5px solid var(--very-Light-Gray);
  margin-top: .8em;
  padding: .8em;
}

.menu ul li:first-child {
  padding-top: 3em;
}

.menu-checkbox {
  display: none;
}

.menu-checkbox:checked ~ .menu-open {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url(../../images/icon-close.svg) center no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu-checkbox:checked ~ .menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu-open {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  background: url(../../images/icon-hamburger.svg) center no-repeat;
}

.menu-background {
  background-image: url(../../images/bg-pattern-mobile-nav.svg);
  height: calc(100vh - 4em);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 100%;
}

.header {
  padding: 1em 0;
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-image {
  background: url(../../images/image-intro-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 445px;
}

.hero-content {
  background: var(--dark-Violet);
}

.hero-svg {
  padding: 6em 0;
  background-image: url(../../images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 top;
}

.we {
  text-align: center;
  padding: 6em 0;
}

.we .u-sub::before {
  content: "";
  position: absolute;
  height: 1px;
  background: var(--vark-Grayish-Violet);
  width: 42%;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.find {
  padding: 0 1.5em;
  text-align: center;
}

.find-background {
  padding: 5.5em 0;
  background-image: url(../../images/bg-pattern-how-we-work-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--dark-Violet);
}

.find-title {
  margin-bottom: 1em;
}

.find .buttom {
  padding: .8em 1.5em;
}

.footer {
  padding: 6em 0;
  border: 2px solid red;
  text-align: center;
  background-image: url(../../images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  margin-top: 8em;
}

.footer-social ul {
  list-style: none;
  padding: .2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
}

.footer-social ul li {
  margin-right: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
}

.footer-social ul li:first-child {
  margin-left: .5em;
}

:root {
  --dark-Violet: rgb(45, 38, 64);
  --grayish-Blue: rgb(149, 169, 198);
  --veryDark-Violet: rgb(43, 40, 47);
  --vark-Grayish-Violet: rgb(131, 125, 135);
  --very-Light-Gray: rgb(250, 250, 250);
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1.5em;
}

.list-style, .menu ul {
  list-style: none;
}

.u-title, .u-copy, .u-sub, .find-title, .u-h3 {
  font-family: 'DM Serif Display', serif;
  font-size: 2.7em;
  text-align: center;
  color: var(--veryDark-Violet);
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 400;
}

.u-copy {
  color: white;
  margin: 0;
}

.u-sub {
  font-weight: 700;
  padding: 1em 0;
  position: relative;
  font-size: 2.7em;
  letter-spacing: 0;
  z-index: 10;
}

.find-title {
  color: white;
  margin: 0;
  font-size: 2.6em;
}

.u-h3 {
  font-size: 1.8em;
  letter-spacing: 0;
}

.parrago, .u-p, .u-parrafo {
  color: var(--vark-Grayish-Violet);
  font-size: 1em;
  text-align: center;
  line-height: 1.8;
  font-weight: 400;
}

.u-p {
  color: white;
}

.u-parrafo {
  color: var(--vark-Grayish-Violet);
  padding-bottom: 2.5em;
}

.buttom {
  background: transparent;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  border: 2px solid white;
  padding: .6em 1.5em;
  letter-spacing: 2px;
  display: block;
  margin: auto;
  margin-top: 2em;
}

.is-hidden {
  display: none;
}
/*# sourceMappingURL=estilos.css.map */