@import "./header";
@import "./hero";
@import "./we";
@import "./find";
@import "./footer";
:root {
    // ### Primary
    --dark-Violet: rgb(45, 38, 64);
    --grayish-Blue: rgb(149, 169, 198);
    // ### Neutral
    --veryDark-Violet: rgb(43, 40, 47);
    --vark-Grayish-Violet: rgb(131, 125, 135);
    --very-Light-Gray: rgb(250, 250, 250);
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    //encabezados
    // font-family: 'DM Serif Display', serif;
    font-size: 16px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-wrapper {
    max-width: 1440px;
    margin: auto;
    padding: 0 1.5em;
    @media screen and (min-width: 1024px) {
        width: 1110px;
    }
}

.list-style {
    list-style: none;
}

.u-title {
    font-family: 'DM Serif Display', serif;
    font-size: 2.7em;
    // text-align: center;
    color: var( --veryDark-Violet);
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 400;
}

.u-copy {
    @extend .u-title;
    color: white;
    margin: 0;
    // margin-top: 2.5em;
}

.find-title {
    @extend .u-title;
    color: white;
    margin: 0;
    font-size: 2.6em;
}

.u-h3 {
    @extend .u-title;
    font-size: 1.8em;
    letter-spacing: 0;
}

.parrago {
    color: var( --vark-Grayish-Violet);
    font-size: 1em;
    text-align: center;
    line-height: 1.8;
    // letter-spacing: 1px;
    font-weight: 400;
}

.u-p {
    @extend .parrago;
    color: white;
}

.u-parrafo {
    @extend .parrago;
    color: var( --vark-Grayish-Violet);
    padding-bottom: 2.5em;
}

.buttom {
    background: transparent;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    border: 2px solid white;
    padding: .6em 1.5em;
    letter-spacing: 2px;
    display: block;
    margin: auto;
    margin-top: 2em;
    // margin-bottom: 4.7em;
}

.is-hidden {
    display: none;
}