.footer {
    padding: 6em 0 4em 0;
    // border: 2px solid red;
    text-align: center;
    background-image: url(../../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    margin-top: 8em;
    background-color: var( --very-Light-Gray);
    &-social {
        ul {
            list-style: none;
            padding: .2em 0 2.5em 0;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 1px solid red;
            border-bottom: 1px solid var(--vark-Grayish-Violet);
            li {
                margin-right: .5em;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
            }
            li:first-child {
                margin-left: .5em;
            }
        }
    }
    &-item {
        // border: 1px solid red;
        ul {
            list-style: none;
            padding: 0;
            a {
                text-decoration: none;
                font-size: 1.2em;
                font-weight: 700;
                padding: .5em 0;
                display: block;
                text-transform: uppercase;
                color: var(--veryDark-Violet);
            }
            li:nth-child(1) {
                // border: 1px solid red;
                padding: 1.2em 0;
            }
            .gray {
                color: var(--vark-Grayish-Violet);
            }
        }
    }
    @media screen and (min-width: 1024px) {
        background-image: url(../../images/bg-pattern-footer-desktop.svg);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 40% 55%;
        // border: 1px solid red;
        padding-top: 4em;
        &-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        &-header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 1em;
            border-bottom: 1px solid var(--vark-Grayish-Violet);
        }
        &-social {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0;
            ul {
                border: none;
                padding: 0;
            }
        }
        &-logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
        }
        &-item {
            text-align: left;
            padding-top: 1em;
        }
    }
}