.hero {
    &-image {
        background: url(../../images/image-intro-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 445px;
    }
    &-content {
        background: var( --dark-Violet);
        // border: 1px solid red;
    }
    &-svg {
        padding: 6em 0;
        background-image: url(../../images/bg-pattern-intro-left-mobile.svg);
        background-repeat: no-repeat;
        background-position: 0 top;
    }
}