.hero {
    &-image {
        background: url(../../images/image-intro-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 445px;
    }
    &-content {
        background: var( --dark-Violet);
        // border: 1px solid red;
    }
    &-svg {
        padding: 6em 0;
        background-image: url(../../images/bg-pattern-intro-left-mobile.svg);
        background-repeat: no-repeat;
        background-position: 0 top;
    }
    &-desktop {
        display: none;
    }
    &-left {
        text-align: center;
        .content-buttom {
            display: flex;
            justify-content: center;
        }
    }
    @media screen and (min-width:1024px) {
        height: 600px;
        background-color: var( --dark-Violet);
        margin-bottom: 9em;
        &-container {
            width: 1440px;
            max-width: 1110px;
            margin: 0 auto;
        }
        .u-wrapper {
            display: flex;
            // align-items: center;
            padding: 0;
        }
        &-image {
            display: none;
        }
        &-svg {
            background: none;
        }
        &-grid {
            display: flex;
        }
        &-content {
            background: none;
        }
        &-left {
            padding-right: 2em;
            .content-buttom {
                display: flex;
                justify-content: start;
            }
            .u-copy {
                text-align: left;
                padding-top: 1em;
                font-size: 4.5em;
                position: relative;
            }
            .u-copy::before {
                content: "";
                position: absolute;
                height: 1px;
                background-color: white;
                width: 150px;
                top: 0;
                left: 0;
            }
            p {
                text-align: left;
                padding-top: 1em;
            }
        }
        &-desktop {
            display: block;
            position: relative;
            img {
                // margin-top: 1em;
                width: 540px;
                height: 600px;
            }
        }
        &-desktop::before {
            content: "";
            background-image: url(../../images/bg-pattern-intro-right-desktop.svg);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            left: 213px;
            top: -245px;
            width: 445px;
            height: 100%;
            // border: 1px solid red;
        }
    }
}