.hero {
    &-image {
        background: url(../../images/image-intro-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 445px;
    }
    &-content {
        background: var( --dark-Violet);
        // border: 1px solid red;
        padding: 6em 0;
        position: relative;
    }
    &-content::before {
        content: url(../../images/bg-pattern-intro-left-mobile.svg);
        position: absolute;
        top: 0;
        left: 0;
    }
}