.menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: var(--dark-Violet);
  height: calc(90vh - 4em);
  transform: translateY(-200px);
  transition: 0.9s transform;
  will-change: transform;
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu ul a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 2px;
}
.menu ul li {
  padding: 1.2em;
}
.menu ul li:last-child {
  border: 1.5px solid var(--very-Light-Gray);
  margin-top: 0.8em;
  padding: 0.8em;
}
.menu ul li:first-child {
  padding-top: 3em;
}
.menu-checkbox {
  display: none;
}
.menu-checkbox:checked ~ .menu-open {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url(../../images/icon-close.svg) center no-repeat;
  user-select: none;
}
.menu-checkbox:checked ~ .menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.menu-open {
  user-select: none;
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  background: url(../../images/icon-hamburger.svg) center no-repeat;
}
.menu-background {
  background-image: url(../../images/bg-pattern-mobile-nav.svg);
  height: calc(90vh - 4em);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 100%;
}

.header {
  padding: 1em 0;
  background: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-image {
  background: url(../../images/image-intro-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 445px;
}
.hero-content {
  background: var(--dark-Violet);
}
.hero-svg {
  padding: 6em 0;
  background-image: url(../../images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 top;
}

.we {
  text-align: center;
  padding: 6em 0;
}
.we .u-sub::before {
  content: "";
  position: absolute;
  height: 1px;
  background: var(--vark-Grayish-Violet);
  width: 42%;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.find {
  text-align: center;
  background: var(--dark-Violet);
}
.find-background {
  padding: 6em 0;
  border: 1px solid red;
  background-image: url(../../images/bg-pattern-how-we-work-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}
.find-title {
  margin-bottom: 1em;
}
.find .buttom {
  padding: 0.8em 1.5em;
}

:root {
  --dark-Violet: rgb(45, 38, 64);
  --grayish-Blue: rgb(149, 169, 198);
  --veryDark-Violet: rgb(43, 40, 47);
  --vark-Grayish-Violet: rgb(131, 125, 135);
  --very-Light-Gray: rgb(250, 250, 250);
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1.5em;
}

.list-style, .menu ul {
  list-style: none;
}

.u-title, .u-h3, .find-title, .u-sub, .u-copy {
  font-family: "DM Serif Display", serif;
  font-size: 2.7em;
  text-align: center;
  color: var(--veryDark-Violet);
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 400;
}

.u-copy {
  color: white;
  margin: 0;
}

.u-sub {
  font-weight: 700;
  padding: 1em 0;
  position: relative;
  font-size: 2.7em;
  letter-spacing: 0;
  z-index: 10;
}

.find-title {
  color: white;
  margin: 0;
}

.u-h3 {
  font-size: 1.8em;
  letter-spacing: 0;
}

.parrago, .u-parrafo, .u-p {
  color: var(--vark-Grayish-Violet);
  font-size: 1em;
  text-align: center;
  line-height: 1.8;
  font-weight: 400;
}

.u-p {
  color: white;
}

.u-parrafo {
  color: var(--vark-Grayish-Violet);
  padding-bottom: 2.5em;
}

.buttom {
  background: transparent;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 0.6em 1.5em;
  letter-spacing: 2px;
  display: block;
  margin: auto;
  margin-top: 2em;
}

.is-hidden {
  display: none;
}

/*# sourceMappingURL=estilos.css.map */
