.menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: var(--dark-Violet);
  height: calc(100vh - 4em);
  transform: translateY(-200px);
  transition: 0.9s transform;
  will-change: transform;
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu ul a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 2px;
}
.menu ul li {
  padding: 1.2em;
}
.menu ul li:last-child {
  border: 1.5px solid var(--very-Light-Gray);
  margin-top: 0.8em;
  padding: 0.8em;
}
.menu ul li:first-child {
  padding-top: 3em;
}
.menu-checkbox {
  display: none;
}
.menu-checkbox:checked ~ .menu-open {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url(../../images/icon-close.svg) center no-repeat;
  user-select: none;
}
.menu-checkbox:checked ~ .menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.menu-open {
  user-select: none;
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  background: url(../../images/icon-hamburger.svg) center no-repeat;
}
.menu-background {
  background-image: url(../../images/bg-pattern-mobile-nav.svg);
  height: calc(100vh - 4em);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 100%;
}

.header {
  padding: 1em 0;
  background: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-image {
  background: url(../../images/image-intro-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 445px;
}
.hero-content {
  background: var(--dark-Violet);
}
.hero-svg {
  padding: 6em 0;
  background-image: url(../../images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 top;
}
.hero-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .hero {
    height: 600px;
    background-color: var(--dark-Violet);
    margin-bottom: 9em;
    background-image: url(../../images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: right top;
  }
  .hero-container {
    width: 1440px;
    max-width: 1110px;
    margin: 0 auto;
  }
  .hero .u-wrapper {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .hero-image {
    display: none;
  }
  .hero-svg {
    background: none;
  }
  .hero-grid {
    display: flex;
  }
  .hero-content {
    background: none;
  }
  .hero-left {
    padding-right: 2em;
  }
  .hero-left h1 {
    font-size: 4.5em;
  }
  .hero-left p {
    text-align: left;
    padding-top: 1em;
  }
  .hero-left .buttom {
    margin: 0;
    margin-top: 2em;
  }
  .hero-desktop {
    display: block;
    width: 540px;
    height: 600px;
  }
  .hero-desktop img {
    margin-top: 1em;
  }
}

.we {
  position: relative;
  text-align: center;
  padding: 6em 0;
}
.we .u-sub {
  font-weight: 700;
  padding: 1em 0;
  position: relative;
  font-size: 2.7em;
  letter-spacing: 0;
  z-index: 10;
}
@media screen and (min-width: 1024px) {
  .we .u-sub {
    position: relative;
    text-align: left;
  }
}
.we .u-sub::before {
  content: "";
  position: absolute;
  height: 1px;
  background: var(--vark-Grayish-Violet);
  width: 42%;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .we .u-sub::before {
    content: "";
    position: absolute;
    height: 1px;
    background: var(--vark-Grayish-Violet);
    width: 10%;
    top: 0;
    left: -1000px;
  }
}
@media screen and (min-width: 1024px) {
  .we .we {
    width: 1440px;
    max-width: 1110px;
    margin: 0 auto;
    text-align: left;
  }
  .we .we-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5em;
  }
  .we .we-grid .item {
    text-align: left;
  }
  .we .we-grid .item .u-h3,
.we .we-grid .item .u-parrafo {
    text-align: left;
  }
}

.we::before {
  content: url(../../images/bg-pattern-intro-right-mobile.svg);
  position: absolute;
  top: -11%;
  right: 0;
}
@media screen and (min-width: 1024px) {
  .we::before {
    display: none;
  }
}

.find {
  padding: 0 1.5em;
  text-align: center;
}
.find-background {
  padding: 5.5em 0;
  background-image: url(../../images/bg-pattern-how-we-work-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: var(--dark-Violet);
}
.find-title {
  margin-bottom: 1em;
}
.find .buttom {
  padding: 0.8em 1.5em;
}
@media screen and (min-width: 1024px) {
  .find .u-wrapper {
    padding: 0;
  }
  .find-background {
    width: 1110px;
    margin: 0 auto;
    background-image: url(../../images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
  }
  .find-content {
    padding: 0 5em;
    display: grid;
    grid-template-columns: 382px auto;
    align-items: center;
  }
  .find .find-title {
    text-align: left;
  }
  .find-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .find-button .buttom {
    margin: 0;
  }
}

.footer {
  padding: 6em 0 4em 0;
  text-align: center;
  background-image: url(../../images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  margin-top: 8em;
  background-color: var(--very-Light-Gray);
}
.footer-social ul {
  list-style: none;
  padding: 0.2em 0 2.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--vark-Grayish-Violet);
}
.footer-social ul li {
  margin-right: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.footer-social ul li:first-child {
  margin-left: 0.5em;
}
.footer-item ul {
  list-style: none;
  padding: 0;
}
.footer-item ul a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
  padding: 0.5em 0;
  display: block;
  text-transform: uppercase;
  color: var(--veryDark-Violet);
}
.footer-item ul li:nth-child(1) {
  padding: 1.2em 0;
}
.footer-item ul .gray {
  color: var(--vark-Grayish-Violet);
}
@media screen and (min-width: 1024px) {
  .footer {
    background-image: url(../../images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 40% 55%;
    padding-top: 4em;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--vark-Grayish-Violet);
  }
  .footer-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }
  .footer-social ul {
    border: none;
    padding: 0;
  }
  .footer-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
  .footer-item {
    text-align: left;
    padding-top: 1em;
  }
}

:root {
  --dark-Violet: rgb(45, 38, 64);
  --grayish-Blue: rgb(149, 169, 198);
  --veryDark-Violet: rgb(43, 40, 47);
  --vark-Grayish-Violet: rgb(131, 125, 135);
  --very-Light-Gray: rgb(250, 250, 250);
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0 1.5em;
}
@media screen and (min-width: 1024px) {
  .u-wrapper {
    width: 1110px;
  }
}

.list-style, .menu ul {
  list-style: none;
}

.u-title, .u-h3, .find-title, .u-copy, .we .u-sub {
  font-family: "DM Serif Display", serif;
  font-size: 2.7em;
  color: var(--veryDark-Violet);
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 400;
}

.u-copy {
  color: white;
  margin: 0;
}

.find-title {
  color: white;
  margin: 0;
  font-size: 2.6em;
}

.u-h3 {
  font-size: 1.8em;
  letter-spacing: 0;
}

.parrago, .u-parrafo, .u-p {
  color: var(--vark-Grayish-Violet);
  font-size: 1em;
  text-align: center;
  line-height: 1.8;
  font-weight: 400;
}

.u-p {
  color: white;
}

.u-parrafo {
  color: var(--vark-Grayish-Violet);
  padding-bottom: 2.5em;
}

.buttom {
  background: transparent;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 0.6em 1.5em;
  letter-spacing: 2px;
  display: block;
  margin: auto;
  margin-top: 2em;
}

.is-hidden {
  display: none;
}

/*# sourceMappingURL=estilos.css.map */
